@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

:root {
    --p-color: #3F75FF;
    --s-color: #3FA3FF;
    --c-color: #FFFFFF;
    --b-color: #cbe5ff;
}

* {
    scrollbar-color: transparent !important;
    scrollbar-width: 0 !important;
}

body {
    letter-spacing: 1px;
    line-height: 1;
    font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--b-color) !important;
}

/* preloader */
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--b-color) url('/public/images/preloader.svg') no-repeat center;
    z-index: 100;
}


/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--b-color) !important;
    opacity: 1 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--b-color) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--b-color) !important;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#side-bar {
    background: linear-gradient(180deg, var(--p-color), var(--s-color)) !important;
}

#avatar {
    background-image: url(./images/woman.svg);
    background-position: center center;
    background-size: cover;
}

.card {
    background: var(--c-color);
}

.cborder {
    border: 2px solid var(--p-color);
}

.tick {
    transition: all 300ms ease-in-out;
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
}

input:checked~.tick {
    transition: all 300ms ease-in-out;
    stroke-dashoffset: 0;
}

input:checked~.list-item {
    text-decoration: line-through;
    opacity: 75%;
}

.p-color {
    color: var(--p-color);
}

.s-color {
    color: var(--b-color);
}

.pill {
    background: var(--p-color);
    color: #FFFFFF;
}

.s-pill {
    background: var(--b-color);
    color: var(--p-color);
}

.b-color {
    color: var(--b-color) !important;
}

select {
    transition: all 200ms;
    background-color: var(--b-color);
}

select option {
    background: var(--b-color) !important;
    color: var(--p-color) !important;
}

#diet-list,
#exercise-list {
    list-style-type: disc !important;
}

#diet-items,
#exercise-items {
    list-style-type: none !important;
}

/* for transition */
.transition-fade {
    opacity: 1;
    transition: 600ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
}