<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" /> 
  <!-- <script defer src="node_modules/swup/dist/swup.min.js"></script> -->
  <link rel="stylesheet" href="/public/styles.css" />
  <title><%= title %></title>
</head>