<%- include('partials/header.ejs'); -%>

<body>
  <main class="flex w-full h-screen appearance-none">
    <!-- Side Bar -->
    <%- include('partials/avatar.ejs'); -%>
    <!-- Navigation -->
    <%- include('partials/nav.ejs'); -%>
    <!-- main -->
    <div id="swup" class="transition-fade p-8 w-full">
      <header class="flex justify-between items-baseline w-full">
        <h1 class="text-5xl p-color font-bold">Good Morning!</h1>
        <div class="flex items-baseline p-color text-xl font-bold">
          Water Reminder
          <div class="ml-2 h-4 w-4 border-2 rounded border-blue-500"></div>
        </div>
      </header>

      <!-- Calendar -->

      <div id="calendar" class="card"></div>
    </div>

  </main>
</body>
<%- include('partials/footer.ejs'); -%>